body {
  font-family: "Open sans", sans-serif;
  background-color: #ecf0f1;
}

h1 {
  text-align: center;
  color: #34495e;
  border-bottom: 1px solid #34495e;
  padding: 23px;
  width: 80%;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #bdc3c7;
}

a:hover {
  color: #34495e;
}