body {
  color: #2c3e50;
}

#mapid {
  height: 450px;
  width: 100%;
  box-shadow: 0px 0px 23px 7px rgba(128, 128, 128, 0.23);
}

.towns-select-hidden {
  display: none;
}

#current-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  height: 100px;
}
