.cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  background-color: #ececec;
}

.cards-container img {
  width: 120px;
  margin: 4px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color:#ecf0f1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-header.primary {
  background-color: #ecf0f1;
  color: #95a5a6;
}

.modal-header.success {
  background-color: #2ecc71;
  color: #ecf0f1;
}

.modal-header.danger {
  background-color: #e74c3c;
  color: #ecf0f1;
}

/* .modal-body {padding: 2px 16px;} */

.modal-content {
  position: relative;
  background-color: #fefefe;
  color: #95a5a6;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  top: 40%;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}