.title-category {
  background-color: #ecf0f1;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-category {
  display: flex;
  flex-direction: row;
}

.article {
  flex: 1 auto;
  margin: 16px;
}