app-weather-card {
  width: 100%;
}

app-weather-card .card {
  border: none;
  height: fit-content;
}

app-weather-card .card-body {
  position: relative;
}

app-weather-card .card-body > img {
  position: absolute;
  top: 0;
  right: 0;
}

/* GENERAL ROW */
app-weather-card .card-body #general-row p {
  margin: 0;
}

app-weather-card .card-body #general-row p.date {
  font-size: 0.8em;
}

/* CONDITION ROW */
app-weather-card .card-body #condition-row h1,
app-weather-card .card-body #condition-row p {
  margin: 0;
}

app-weather-card .card-body #condition-row p {
  font-size: 0.9em;
}

/* CONDITION DETAILS ROW */
app-weather-card .card-body #condition-details-row p {
  margin: 0;
}

/* HOURLY DATA ROW */
app-weather-card .card-body #hourly-data-row .col {
  border-right: 1px solid lightgray;
}

app-weather-card .card-body #hourly-data-row .col:last-child {
  border-right: none;
}

app-weather-card .card-body #hourly-data-row .col p {
  font-size: 0.8em;
  margin: 0;
}
